<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="navbar">
    <div class="navbar-item">
      <a href="/">
        <p class="text">home</p>
      </a>
    </div>
    <div class="navbar-item">
      <a href="/favorite">
        <p class="text">favorite</p>
      </a>
    </div>
  </nav>

  {{{body}}}
</body>

</html>